
 *{
  margin: 0;
  padding: 0;}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: rgb(74, 10, 134);}

  .slider{
    position: relative;
    background: maroon;
    width: 1700px;
    height: 800px;
    display: flex;
    overflow: hidden;
  }
  
.slider ul{
  padding: 0;
  display: flex;
  padding: 0%;
  width: 300%;
  animation: Cambio 20s infinite;
}

.slider li{
  list-style: none;
  width: 100%;

}




.PolloAsado{
  background: red;  
  width: 1700px;
  height: 800px;
  margin: auto;
}

.PolloParmesano{
  background:turquoise;  
  width: 1700px;
  height: 800px;
  margin: auto;
}
.PolloKarague{
  background:turquoise;  
  width: 1700px;
  height: 800px;
  margin: auto;
}

@keyframes Cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
}
